<form action="/sessions" method="POST">
  <div class="field">
    <label> Name </label>
    <input type="text" name="name" />
  </div>
  <div class="field">
    <label> Password </label>
    <input type="password" name="password" />
  </div>
  <div class="actions">
    <input type="submit" name="submit" value="Login"/>
  </div>
</form>
