.inner {
    position: relative;
    height: 250px;
    width: 250px;
    top: 50px;
    left: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-collapse: inherit;
    font-family: "Arial",Helvetica,sansserif;
    font-weight: bold;
    background-color: green;
    }
.cell {
    border-style: solid;
    border-width: 5px;
    border-color: black;
    font-size: 300%;
    text-align: center;
    height: 70px;
    width: 70px;
}
.outer {
    border-style: solid;
    border-width: 10px;
    border-color: black;
    background-color: red;
    height: 350px;
    width: 350px;
}