<html>
	<title>
		Tic Tac Toe
	</title>
	<head>
		<script id = "s1" src = "http://code.jquery.com/jquery-1.6.4.js"></script>
	</head>
	<body>
	<input type="button" value="Start Game" onClick = 'startGame()' />
	</body>
</html>