<h1>Login</h1>

Name: <input type="text" id="name" name="name" /><br />
id: <input type="password" id="id" name="id" /><br />
Password: <input type="password" id="pass" name="password" /><br />
<%= javascript_include_tag "Login" %>\
<input type="button" value="Login" onClick = 'takeLogin()' />
<input type="button" value="New User" onClick = 'newUser()' />